.date-picker {
  display: inline-block;
  margin-bottom: 10px;
  position: relative;

	&__month {
	  width: 275px;
	  background-color: white;
	  display: inline-block;
	  margin: 0 20px;
	  color: #000;

	    &-head {
	    	text-align: center;
		    height: 35px;
		    line-height: 35px;
		    font-weight: bold;
	    }

	    &-body {
	    	width: 100%;
		    border-collapse: separate;
		    border-spacing: 0 1px;
		    border-bottom: 1px solid #e8eaec;
	    }
	}

	&__week {
		&-head, &-date {
			padding: 6px 0;
	    text-align: center;
	    width: 14%;
		}

		&-head {
			border-bottom: 1px solid #e8eaec;
		}

		&-date {
			border: 0 solid #e8eaec;
			border-left-width: 1px;
			position: relative;
			cursor: pointer;

			&:last-child {
				border-right-width: 1px;
			}

			&--holiday {
				background-color: #f7f7fb;
			}

			&--past {
				opacity: 0.4;
    			cursor: no-drop;
			}

			&__label {
				position: relative;
			}

			&__selected {
				background-color: purple;
			    border: 1px solid purple;
			    bottom: 5px;
			    left: 0;
			    position: absolute;
			    right: 0;
			    top: 5px;

			    &--start {
			    	border-top-left-radius: 4px;
				    border-bottom-left-radius: 4px;
				    left: 5px;
			    }

			    &--end {
			    	border-top-right-radius: 4px;
				    border-bottom-right-radius: 4px;
				    right: 5px;
			    }

			    &--only {
			    	left: 5px;
				    right: 5px;
				    border-radius: 4px;
			    }

			    &--hover {
			    	background-color: white;
				    border-radius: 4px;
				    left: 5px;
				    right: 5px;
			    }
			}

		}
	}

	&__page-right {
		position: absolute;
	    top: 1px;
	    right: 55px;
	    cursor: pointer;
	    width: 30px;
    	height: 30px;

	    span {
	    	width: 0;
		    height: 0;
		    border-top: 7px solid transparent;
		    border-bottom: 7px solid transparent;
		    border-left: 10px solid #787887;
		    display: inline-block;
		    position: absolute;
		    left: 50%;
		    top: 50%;
		    transform: translate(-50%, -50%);
	    }

	    &:hover {
	    	background-color: #e0e0e5;
    		border-radius: 2px;
	    }
	}

	&__page-left {
		position: absolute;
	    top: 1px;
	    left: 55px;
	    cursor: pointer;
	    width: 30px;
    	height: 30px;

	    span {
	    	width: 0;
		    height: 0;
		    border-top: 7px solid transparent;
		    border-bottom: 7px solid transparent;
		    border-right: 10px solid#787887;
		    display: inline-block;
		    position: absolute;
		    left: 50%;
		    top: 50%;
		    transform: translate(-50%, -50%);
	    }

	    &:hover {
	    	background-color: #e0e0e5;
    		border-radius: 2px;
	    }
	}
}
